<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/logo-color-bg-transparent.ico">
    <title>nosotros</title>
  </head>

  <body>
    <header class="main-header">
      <input type="checkbox" id="menu">

      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
          </li>
          <li class="nav-bar__nav-item alta">
            <a href="#" class="nav-bar__nav-link alta">Alta</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="./nosotros.html" class="nav-bar__nav-link">Nosotros</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="./contacto.html" class="nav-bar__nav-link">Contacto</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="./cuenta.html" class="nav-bar__nav-link">Ingreso/Registro</a>
          </li>
        </ul>
      </nav>
      <!-- .nav-bar -->

      <div class="search-bar">
        <div class="search-bar__logo-container">
          <img src="../img/logo-color-bg-transparent.svg" class="search-bar__logo-container__image" alt="logo">
        </div>
        <form action="#" class="search-bar__form-container">
          <label for="busqueda" class="search-bar__form-label">Toyland</label>
          <input type="search" class="search-bar__form-search" id="busqueda" placeholder="¿Qué estás buscando?">
          <input type="submit" class="search-bar__form-submit" value="Buscar">
        </form>
        <div class="search-bar__carrito-container"><img src="../img/cart.svg" alt="carrito"></div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      <!-- .search-bar -->
    </header>
    <!-- main-header -->

    <main>
      <section class="section-about-us">
        <div class="section-about-us__content content1"><h1>Nosotros</h1></div>
        <div class="section-about-us__content content2">
          <h2>Toyland</h2>
          <img src="../img/wallpaper1.1.webp" class="content2__img" alt="wallpaper1">
          <p>
            Es la marca querida por los niños de todo el mundo... ¡y sabemos cómo divertirnos muchísimo! Puedes explorar
            increíbles actividades de juego, reseñas de juguetes, divertidas impresiones y, por supuesto, ¡MUCHOS
            juguetes! Los más atractivos, los que hay que tener, los nuevos mejores amigos favoritos y más.
          </p>
        </div>
        <div class="section-about-us__content content3">
          <h2>Donde los niños son lo más importante!!</h2>
        </div>
        <div class="section-about-us__content content4">
          <p>
            Síguenos en <a href="https://www.facebook.com/" class="fb" target="_blank">Facebook</a>,
            <a href="https://x.com/?lang=es" class="x" target="_blank">Twitter</a>,
            <a href="https://www.instagram.com/" class="ig" target="_blank">Instagram</a> y
            <a href="https://www.youtube.com/" class="yt" target="_blank">Youtube</a> para obtener actualizaciones de
            juegos, las últimas reseñas y noticias interesantes sobre nuestras experiencias inmersivas en la tienda.
            ¡Tenemos una nueva forma de jugar y estamos ansiosos por compartirla contigo!
          </p>
          <img src="../img/wallpaper-nosotros.webp" class="content4__img" alt="wallpaper-nosotros">
          <p>
            Para recibir actualizaciones sobre nuevos juguetes, reseñas y consejos de juego,
            <a href="./cuenta.html" class="cuenta">suscríbete gratis.</a>
          </p>
        </div>

        <!-- <div class="section-about-us__content content7"></div>
          <div class="section-about-us__content content6"></div>
          <div class="section-about-us__content content8"></div>
          <div class="section-about-us__content content9"></div>
          <div class="section-about-us__content content10"></div> -->
      </section>
    </main>
    <!-- main -->

    <!-- footer -->
    <footer>
      <div class="section-about-us__content footer-top">
        <p>Para servicio al cliente, por favor <a href="./contacto.html">contáctenos.</a></p>
        <div class="logo-cont">
          <img src="../img/logo-color-bg-transparent.svg" class="logo" alt="logo">
        </div>
        <div class="icon">
          <p class="icon__text">Síguenos</p>
          <div class="icon-cont">
            <a href="https://www.facebook.com/" class="icon__link" target="_blank"
              ><img src="../img/facebook.svg" alt="facebook"
          ></a>
            <a href="https://x.com/?lang=es" class="icon__link" target="_blank"
              ><img src="../img/x.svg" alt="Twitter"
          ></a>
            <a href="https://www.instagram.com/" class="icon__link" target="_blank"
              ><img src="../img/instagram.svg" alt="instagram"
          ></a>
            <a href="https://www.youtube.com/" class="icon__link" target="_blank"
              ><img src="../img/youtube.svg" alt="youtube"
          ></a>
            <a href="#" class="icon__link" target="_blank"><img src="../img/location.svg" alt="ubicacion"></a>
          </div>
        </div>
      </div>
      <div class="footer-fixed">Copyright 2024 - WC2 - willconde2@hotmail.com</div>
    </footer>

    <script type="module" src="/main.js"></script>
  </body>
</html>
